.nav-ch{
    background-color: #393e46;
    width: 7em;
    margin: 12px;
    border: 0.3rem solid #393e46;
    border-radius: .5rem;    
}
.nave-ch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    a{
        color: #00adb5;
    }
    .logo-ch{
    height: 10rem;
    }
    .img-logo-ch{
        width: 8rem;
    }
    .btn-van-ch{
        width: 10rem;
        height: 6rem;
        margin: 0;
    }
}