@import 'habilidades.scss';
@import 'menu.scss';
@import 'cards.scss';
.contiene{
    padding: 0;
    margin: 0;
    width: 100%;
}
.navegador{ 
    background-color: #393e46;
    height: 35em;
    width: 15em;
    margin: 30px;
    border-radius: 1rem;
}
.nave{
    justify-content: space-around;
    height: 48rem;
    background-color: #393e46;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .logo{
        height: 22rem;
    }
    .img-logo{
        width: 20rem;
    }
    .btn-nav{
        border: 1px solid #eeeeee;
        width: 10em;
        text-align: center;
        margin: 2rem;
        border-radius: 1rem;
        font-family: 'Oswald', sans-serif;
        a:hover{
            color: #393e46;
            border: 1px solid #393e46;
            border-radius: 1rem;
        }
        a{
            color: #eeeeee;
        }
    }
}
header{
    margin-right: 0;
    width: 100%; 
    height: 70rem; 
    background-image: url("/static/img/fondo2.jpg");  
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column-reverse;    
    justify-content: center;
    // img{
    //     width: inherit;
    // }   
}
.sobre-mi{
    width: 39%;
    height: 58%
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% 29% 10% 32%;
    background-color:rgba(57,62,70,0.3);
    border-radius: 1rem;
    font-family: 'Oswald', sans-serif;
    color: #eeeeee;
    .img-fer{             
    width: 42%;    
    border: 2px solid grey;
    margin: 14px;
    padding: 0;
    border-radius: 800px;
    overflow: hidden;
    }    
    h1{
        font-family: 'Playball', cursive;
    }     
}
    h2{
        font-family: 'Playball', cursive;        
        font-size: 4em;
    }
    .proyectos{
        text-align: center;
        color: #eeeeee;
    }
#contacto{
    background: #393e46;
    text-align: center;
    color:#eeeeee;
    a{
        background: #393e46;
        margin: 2rem;
    }
}
    